<br>
<div class=movie-list-title>
  <h2><%= @list.name %></h2>
  <br>
  <button type="button" class="btn btn-dark"><%=link_to "Add Bookmark", "#{@list.id}/bookmarks/new" %></button>
</div>
<div class="list-date">
  <p>Created on: <%= @list.created_at.strftime("%B %d, %Y") %></p>
</div>

<div class="movie-container">
<% @list.bookmarks.each do |bookmark| %>
  <div class="movie-card">
    <%= image_tag(bookmark.movie.poster_url, width: 200, class: 'movie-image' ) %>
      <div class="movie-card-items">
        <h2 class="movie-title-text"><%= bookmark.movie.title %><h2>
        <div class="label">
          <h2 class="list-name-text"><%= @list.name %></h2>
        </div>
        <h4 class="comment-text"><%= bookmark.comment %></h4>
      </div>
  </div>
 <% end %>
</div>
<br>
<br>